<header class=''>
    <div class="header">
        <div class="container">
            <div class="header-nd">
                <div class="lo">
                    <a href="/"><img src="/img/logo.gif" alt=""></a>

                </div>
                <div class="find">
                    <form action="">
                        <input type="text">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="ktdonhang">
                    <a href="">
                        <i class='fa fa-list-alt'></i>
                        <p>Kiểm tra <br> đơn hàng</p>
                    </a>

                </div>
                <div class="giohang" id="giohang">
                    <a href="/giohang"><i class='fa fa-cart-plus'></i>
                    <div >
                        <p id='sluong'>{{toanbosoluong}}</p>
                    </div></a>
                    
                </div>
                <div class="onl">
                    <i class="fa fa-volume-control-phone"></i>
                    <div>
                        <p class="text">hotline</p>
                        <p class="num">09090909</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<section class="nav-main">
    <div class="nav-bar">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">
                            <p>Trang chủ</p>
                        </a></li>
                    
                        {{#each menu}}
                    <li><a href="/sanpham/{{link}}">
                            <i class='fa fa-chevron-down'></i>
                            <p>Shop {{name}}</p>

                        </a>
                        <div class="nav-chitiet">
                            <div class="nav-chitiet-col">
                                {{#each Loaichinhs}}
                                <div class="nav-chitiet-col-item">
                                    <a href="/sanpham/{{../link}}/{{link}}" class="jfc-start">
                                    <h5>{{name}}</h5>
                                    <p class="nav-tendaydu">{{name}}</p>
                                    </a>
                                    <ul class="a">
                                        {{#each Loaisanphams}}
                                        <li><a href="/sanpham/{{../../link}}/{{../link}}/{{link}}">{{name}}</a>
                                        <p class="nav-tendaydu-item">{{name}}</p>
                                        </li>
                                        
                                        {{/each}}
                                    </ul>
                                </div>
                                {{/each}}
                               
                            </div>
                        </div>
                        {{/each}}
                    </li>
                    <li><a href="/tintuc">
                            <p>Tin tức</p>
                        </a></li>
                    <li><a href="/bando">

                            <p>liên hệ</p>
                        </a></li>
                        {{#if trangthaidangnhap}}
                         <li class="nguoidung"><a>
                            <p>{{tenuser}}</p></a>
                            <div>
                                <ul>
                                    <li><a href="/dndk/dangxuat">Đăng xuất</a></li>
                                    {{#if isadmin}}
                                    <li><a href="/dndk/dangxuat">Them san pham</a></li>
                                    {{/if}}
                                </ul>
                            </div>
                        </li>
                        {{else}}
                        <li><a href="/dndk">
                            <p>Đăng nhập</p>
                        </a></li>
                        {{/if}}


                </ul>
            </nav>
        </div>

    </div>

</section>
<section>
    <div class="nav-bar-2">
        <div class="container">
            <div class="nav-mask"></div>
            <div class="nut">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <nav>
                <div class="nutx">
                    <i class="fa fa-times"></i>
                </div>
                <ul>
                    <li class="left-logo">
                        <a >LOGO</a>
                    </li>
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    {{#each menu}}
                    <li>
                        <a href="/sanpham/{{link}}">Shop {{name}}</a>
                        <i class="fa fa-chevron-down"></i>
                        <div class="nav-chitiet2">
                            <ul>
                                {{#each Loaichinhs}}
                                <li><a href="/sanpham/{{../link}}/{{link}}">{{name}}</a></li>
                                
                                 {{/each}}
                            </ul>
                        </div>
                    </li>
                    {{/each}}
                    
                    
                    <li>
                        <a href="/tintuc">Tin tức</a>
                    </li>
                    <li>
                        <a href="/bando">Liên hệ</a>
                    </li>
                    <li>
                        <a href="/dndk">Đăng nhập</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>