<header class=''>
    <div class="header">
        <div class="container">
            <div class="header-nd">
                <div class="lo">
                    <a href="/">LOGO</a>
                    <div></div>

                </div>
                <div class="find">
                    <form action="">
                        <input type="text">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="ktdonhang">
                    <a>
                        <i class='fa fa-list-alt'></i>
                        <p>Kiểm tra <br> đơn hàng</p>
                    </a>

                </div>
                <div class="giohang" id="giohang">
                    <a href="/giohang"><i class='fa fa-cart-plus'></i>
                        <div>
                            <p id='sluong'>{{toanbosoluong}}</p>
                        </div>
                    </a>

                </div>
                <div class="onl">
                    <i class="fa fa-volume-control-phone"></i>
                    <div>
                        <p class="text">hotline</p>
                        <p class="num">09090909</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<section class="nav-main">
    <div class="nav-bar">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">
                            <p>Trang chủ</p>
                        </a></li>

                    {{#each menu}}
                    <li><a href="/sanpham/{{link}}">
                            <i class='fa fa-chevron-down'></i>
                            <p>Shop {{name}}</p>

                        </a>
                        <div class="nav-chitiet">
                            <div class="nav-chitiet-col">
                                {{#each Loaichinhs}}
                                <div class="nav-chitiet-col-item">
                                    <a href="/sanpham/{{../link}}/{{link}}" class="jfc-start">
                                        <h5>{{name}}</h5>
                                        <p class="nav-tendaydu">{{name}}</p>
                                    </a>
                                    <ul class="a">
                                        {{#each Loaisanphams}}
                                        <li><a href="/sanpham/{{../../link}}/{{../link}}/{{link}}">{{name}}</a>
                                            <p class="nav-tendaydu-item">{{name}}</p>
                                        </li>

                                        {{/each}}
                                    </ul>
                                </div>
                                {{/each}}

                            </div>
                        </div>
                        {{/each}}
                    </li>
                    <li><a href="/tintuc">
                            <p>Tin tức</p>
                        </a></li>
                    <li><a href="/bando">

                            <p>liên hệ</p>
                        </a></li>
                    {{#if trangthaidangnhap}}
                    <li class="nguoidung"><a>
                        <i class='fa fa-chevron-down'></i>
                            <p>{{tenuser}}</p>
                        </a>

                        {{!--
                    <li><a href="/dndk/dangxuat">Đăng xuất</a></li> --}}
                    {{#if isadmin}}
                        <div class="nav-chitiet">
                            <div class="nav-chitiet-col">
                                <div class="nav-chitiet-col-item">
                                    <a href="/hieuchinh/nhanvien" class="jfc-start">
                                        <h5>Nhân viên</h5>
                                        <p class="nav-tendaydu">Thêm, sửa, xóa nhân viên</p>
                                    </a>
                                </div>
                                <div class="nav-chitiet-col-item">
                                    <a href="/hieuchinh/sanpham" class="jfc-start">
                                        <h5>Sản phẩm</h5>
                                        <p class="nav-tendaydu">Thêm sửa xóa sản phẩm</p>
                                    </a>
                                </div>
                                <div class="nav-chitiet-col-item">
                                    <a href="/hieuchinh/tintuc" class="jfc-start">
                                        <h5>Tin tức</h5>
                                        <p class="nav-tendaydu">Thêm, sửa, xóa tin tức</p>
                                    </a>
                                </div>
                                <div class="nav-chitiet-col-item">
                                    <a href="/hieuchinh/chinhanh" class="jfc-start">
                                        <h5>Chi nhánh</h5>
                                        <p class="nav-tendaydu">Thêm, sửa, xóa chi nhánh</p>
                                    </a>
                                </div>
                                <div class="nav-chitiet-col-item">
                                    <a href="/dndk/dangxuat" class="jfc-start">
                                        <h5>Đăng xuất</h5>
                                        <p class="nav-tendaydu">Đăng xuất khỏi tài khoản admin</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        {{!-- //////////////////////////////// --}}
                        <div class="nav-chitiet">
                            <div class="nav-chitiet-col">
                                <div class="nav-chitiet-col-item">
                                    
                                </div>
                                <div class="nav-chitiet-col-item">
                                    
                                </div>
                                <div class="nav-chitiet-col-item">
                                    
                                </div>
                                <div class="nav-chitiet-col-item">
                                    
                                </div>
                                <div class="nav-chitiet-col-item">
                                    <a href="/dndk/dangxuat" class="jfc-start">
                                        <h5>Đăng xuất</h5>
                                        <p class="nav-tendaydu">Đăng xuất khỏi tài khoản admin</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ --}}
                    
                    {{/if}}
                    </li>
                    {{else}}
                    <li><a href="/dndk">
                            <p>Đăng nhập</p>
                        </a>
                        
                        </li>
                    {{/if}}


                </ul>
            </nav>
        </div>

    </div>

</section>
<section>
    <div class="nav-bar-2">
        <div class="container">
            <div class="nav-mask"></div>
            <div class="nut">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <nav>
                <div class="nutx">
                    <i class="fa fa-times"></i>
                </div>
                <ul>
                    <li class="left-logo">
                        <div class="lo">
                    <a href="/">LOGO</a>
                    <div></div>

                </div>
                    </li>
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    {{#each menu}}
                    <li>
                        <a href="/sanpham/{{link}}">Shop {{name}}</a>
                        <i class="fa fa-chevron-down"></i>
                        <div class="nav-chitiet2">
                            <ul>
                                {{#each Loaichinhs}}
                                <li><a href="/sanpham/{{../link}}/{{link}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>
                    {{/each}}


                    <li>
                        <a href="/tintuc">Tin tức</a>
                    </li>
                    <li>
                        <a href="/bando">Liên hệ</a>
                    </li>
                    {{#if trangthaidangnhap}}
                        <li>
                        <a>{{tenuser}}</a>
                        <i class="fa fa-chevron-down"></i>

                        <div class="nav-chitiet2">
                            <ul>
                                {{#if isadmin}}
                                <li><a href="/hieuchinh/nhanvien">Nhân viên</a></li>
                                <li><a href="/hieuchinh/sanpham">Sản phẩm</a></li>
                                <li><a href="/hieuchinh/tintuc">Tin tức</a></li>
                                <li><a href="/hieuchinh/chinhanh">Chi nhánh</a></li>

                                    <li><a href="/dndk/dangxuat">Đăng xuất</a></li>
                                {{else}}
                                    <li><a href="/dndk/dangxuat">Đăng xuất</a></li>
                                {{/if}}
                                
                            </ul>
                        </div>
                    </li>

                    {{else}}
                        <li>
                        <a href="/dndk">Đăng nhập</a>
                    </li>
                    {{/if}}
                    
                </ul>
            </nav>
        </div>
    </div>
</section>