<div class="motloaisanphamchinh-nd">
                                    <div class="motspchinh">
                                        <div class="motsp-img">
                                            <img src="/img/sp/{{loaitong}}/{{loaichinh}}/{{chialaydu id}}.jpg" alt=""></a>

                                            <div class="motspchinhbtn">
                                                <div class="motspbtn-p">
                                                    <p><a href="/sanpham/{{loaitong}}/{{loaichinh}}/{{loaisanpham}}/{{id}}"><i class="fa fa-eye"></i></a></p>
                                                    <p class="themvaogiohang" data-id='{{id}}'><a ><i class="fa fa-cart-plus"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="motsp-text">
                                            <div class="motsp-tenthuonghieu">
                                                <a href="/sanpham/{{loaitong}}/{{loaichinh}}/{{loaisanpham}}/{{id}}">
                                                    <h5>{{name}} {{id}}</h5>
                                                    <p class="tendaydu">{{name}} {{id}}</p>
                                                </a>
                                                {{#with Thuonghieu}}
                                                <p>{{name}}</p>
                                                {{/with}}
                                            </div>
                                            <div class="giasao">
                                                <p>{{tien gia}} d</p>
                                                <div>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-empty"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>