<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/tintuc.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/index-main.css">
    <link rel="stylesheet" href="/font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Pangolin&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div class="wait">
            <div class="wait-left">
                <p></i>Trần Đình Tiến</p>
                <p><i class="fa fa-birthday-cake"></i>15-03-1994</p>
                <p><i class="fa fa-envelope"></i>trandinhtien19941@gmail.com</p>
                <p><i class="fa fa-phone-square"></i>0982410971</p>
                <p><i class="fa fa-facebook-square"></i>facebook.com/tien.trandinh.169/</p>
                <p><i class="fa fa-home"></i>0982410971</p>
            </div>
            <div class="wait-right">
                <p>Dự án web bán hàng</p>
                <p><img src="/img/wait/css.png">CSS: Animation, Reponsive...</p>
                <p><img src="/img/wait/js.png">JS, Jquery: Slider, tab, animation...</p>
                <p><img src="/img/wait/nodejs.png">Nền tảng: NodeJS</p>
                <p><img src="/img/wait/viewengine.png">View engine: Handlebars</p>
                <p><img src="/img/wait/PostgreSQL9.png">Cơ sở dữ liệu: PostgreSQL</p>
            </div>
            <div class="wait-water">
                <img src="/img/nuoc.png" alt="">
            </div>
            <div class="wait-img">
                <img src="/img/avata.jpg" alt="">
            </div>
        </div>
    </section>
    
    <section class="main container-fluid">
        <div class="parent-first">
            <div class="first">
                
                <div class="first-overlay"></div>
                <div class="first-layer1">
                    <p>Chào mừng quý khách đến với cửa hàng của chúng tôi</p>
                </div>
                <div class="first-layer2">
                    
                </div>
                <div class="first-layer3">
                    
                </div>

                <div class="first-layer5">
                    <p>Tham quan ngay</p>
                </div>
            </div>
        </div>
    </section>
    
    <div class="video-you-back">
        <div class="overlay-you"></div>
        <div class="video-you">
            <iframe class="youtube-video" width="80%" height="60%" src="https://www.youtube.com/embed/zFCgFQ4qWCU" ></iframe>
         </div>
    </div>
    <section class="container-fluid main-2">
        {{>header}}
        <div class="nd1">
            <div class="container">
                <h3 class="title">ĐIỂM NỔI BẬT CỦA CHÚNG TÔI MÀ BẠN KHÔNG THỂ BỎ QUA<span class="primarycolor"> .</span></h3>
            <div class="nd">
                <div class="item-2">
                    <p>ĐÂY LÀ NHỮNG ĐIỀU MÀ CHÚNG TÔI LÀM TỐT NHẤT
                        <br>
                        <span>
                            Đem lại sự thoải mái, đầy đủ cho bạn và thú cưng
                        </span>
                        </p>
                </div>
                 <div class="item">
                   
                     <div class="item-item">
                        <img src="/img/nd11.jpg" alt="">
                         <div class="item-item-nd">
                            <div class="item-num">
                                <p>01</p>
                            </div>
                             <div class="item-text">
                                 <i class="fa fa-envelope"></i>
                             </div>
                             <div class="item-aw">
                                 Sản phẩm<br>cho chó, mèo
                             </div> 
                         </div>
                        
                     </div>        
                 </div>
                 <div class="item">
                    
                    <div class="item-item">
                        <img src="/img/nd12.jpg" alt="">
                        <div class="item-item-nd">
                            <div class="item-num">
                                <p>02</p>
                            </div>
                             <div class="item-text">
                                 <i class="fa fa-envelope"></i>
                             </div>
                             <div class="item-aw">
                                 Khởi đầu<br> tốt nhất
                             </div> 
                        </div>
                       
                    </div>        
                </div>
                <div class="item">
                    
                    <div class="item-item">
                        <img src="/img/nd13.png" alt="">
                        <div class="item-item-nd">
                            <div class="item-num">
                                <p>03</p>
                            </div>
                             <div class="item-text">
                                 <i class="fa fa-envelope"></i>
                             </div>
                             <div class="item-aw">
                                 Bán hàng<br> giá sỉ
                             </div> 
                        </div>
                       
                    </div>        
                </div>
                <div class="item">
                    
                    <div class="item-item">
                        <img src="/img/nd14.jpg" alt="">
                        <div class="item-item-nd">
                            <div class="item-num">
                                <p>04</p>
                            </div>
                             <div class="item-text">
                                 <i class="fa fa-envelope"></i>
                             </div>
                             <div class="item-aw">
                                 Khởi nghiệp<br> cùng chúng tôi
                             </div> 
                        </div>
                       
                    </div>        
                </div>
                <div class="item">
                    
                    <div class="item-item">
                        <img src="/img/nd15.png" alt="">
                        <div class="item-item-nd">
                            <div class="item-num">
                                <p>05</p>
                            </div>
                             <div class="item-text">
                                 <i class="fa fa-envelope"></i>
                             </div>
                             <div class="item-aw">
                                 Gia nhập <br> thành viên
                             </div> 
                        </div>
                       
                    </div>        
                </div>
                <div class="item">
                     
                    <div class="item-item">
                        <img src="/img/nd16.jpg" alt="">
                        <div class="item-item-nd">
                            <div class="item-num">
                                <p>06</p>
                            </div>
                             <div class="item-text">
                                 <i class="fa fa-envelope"></i>
                             </div>
                             <div class="item-aw">
                                 Thanh toán <br> tiện lợi
                             </div> 
                        </div>
                       
                    </div>        
                </div>
                 
                 
            </div>
            </div>
            
         </div>
        <div class="container">
            
             <div class="nd2">
                <div class="nd2-img">
                     <div class="img-top">
                         <img src="/img/index/1.jpg" alt="">
                     </div>
                     <div class="img-bot">
                         <img src="/img/index/2.jpg" alt="">
                     </div>
                </div>
                <div class="nd2-text">
                     <h2 class="title">Chúng tôi đem đến những sản phẩm tốt nhất <span class="primarycolor"> .</span></h2>
                     <p class="color-text">
                        CHÚNG TÔI CAM KẾT CUNG CẤP CHO KHÁCH HÀNG DỊCH VỤ TỐT NHẤT KHI BẠN ĐẾN VỚI CỬA HÀNG CHÚNG TÔI, ĐỘI NGŨ NHÂN VIÊN NHIỆT TÌNH VÀ TRÁCH NHIỆM SẼ KHIẾN BẠN HÀI LÒNG<p>
                     <p class="text-nomal">Boss cũng giống như những đứa trẻ không bao giờ lớn. Việc chăm sóc các bé cũng đòi hỏi rất nhiều tình thương và kĩ năng. Hơn 10 năm trước, các Sen muốn rước Boss về nhà chăm sóc đã khó thì việc chăm tốt cho Boss còn khó hơn.</p>
                     <div class="tow-text">
                         <ul>
                             <li>
                                 <p>Kiến thức thú y chuyên môn</p>
                             </li>
                             <li>
                                 <p>Kỹ năng chăm sóc chuyên nghiệp</p>
                             </li>
                             <li>
                                 <p>Sự tận tâm trong công việc</p>
                             </li>
                         </ul>
                         <p class="since">SINCE
                             2016</p>
                     </div>
                     <div class="button">
                         <Button>TÌM HIỂU NHIỀU HƠN</Button>
                     </div>
     
                </div>
             </div>
             <div class="nd3">
               
                 
                <h3>Kinh nghiệm của chúng tôi<span class="primarycolor"> .</span></h3>
                <div class="noidung">
                    <div class="ancy-parent">
                 </div>
                     <div class="agency">
                         <p>Tận tình yêu thương <br> chăm sóc</p>
                            <a href="">Tìm hiểu thêm</a>
                           <div class="video">
                                 <div class="v1"></div>
                           </div>
                       </div>
                    
                    
                </div>
             </div>
        </div>
        <div class="nd4-bg">
            <div class="container">
                <div class="nd4">
                    <div class="wedo">
                         <h2 class="wedo-title">
                             DỊCH VỤ CHĂM SÓC TOÀN DIỆN
                         </h2>
                         <div class="wedo-col">
                             <div class="wedo-img">
                                 <img src="/img/cho2.jpg" alt="">
                             </div>
                             <div class="wedo-text">
                                 <p>Với sự sáng tạo và đổi mới không ngừng trong kinh doanh, Dog Paradise hiện đang là một trong những địa điểm hàng đầu chuyên cung cấp những dịch vụ, sản phẩm cho thú cưng</p>
                             </div>
                         </div>
                         <div class="wedo-per" data-per="80">
                             <div class="wedo-per-title">
                                 DIGITAL MARKETING
                             </div>
                             <div class="wedo-label">
                                 <p>0%</p>
                             </div>
                             <div class="wedo-ab">
                                    
                                    
                                    <div class="wedo-percent"></div>
                             </div>
                         </div>
                    </div>
                    <div class="wedotap">
                         <ul>
                             <li>
                                 <div class="acc-btn cong">
                                     <p>
                                         <span>
                                             1.                                 </span>
                                         <span>
                                            Sứ mệnh
                                         </span>
                                     </p>
                                 </div>
                                 <div class="acc-curent active">
                                     <div class="acc-content">
                                         <div class="acc-text">
                                            cam kết mang lại cho độc giả một trải nghiệm tốt nhất trong ngành chăm sóc thú cưng. Chúng tôi cũng như các chủ nuôi – hay những người yêu quý động vật, đều dành một tình yêu to lớn cho những người bạn bốn chân.
                                         </div>
                                     </div>
                                 </div>
                             </li>
                             <li>
                                 <div class="acc-btn">
                                     <p>
                                         <span>
                                             2.                                 </span>
                                         <span>
                                            Tầm nhìn
                                         </span>
                                     </p>
                                 </div>
                                 <div class="acc-curent">
                                     <div class="acc-content">
                                         <div class="acc-text">
                                            Chúng tôi mong muốn sẽ trở thành địa chỉ tìm kiếm thông tin đáng tin cậy cho những người quan tâm và yêu thương động vật. Và quan trọng hơn, Monspet sẽ là người bạn đồng hành thân cậy với mọi người trong quá trình chăm sóc thú nuôi.
                                         </div>
                                     </div>
                                 </div>
                             </li>
                             <li>
                                 <div class="acc-btn">
                                     <p>
                                         <span>
                                             3.                                 </span>
                                         <span>
                                             THÁI ĐỘ
                                         </span>
                                     </p>
                                 </div>
                                 <div class="acc-curent">
                                     <div class="acc-content">
                                         <div class="acc-text">
                                            Đội ngũ nhân viên grooming chuyên nghiệp đưa đón tận nơi các chú cún khi bạn có nhu cầu tắm gội, vệ sinh tai, cắt tỉa làm đẹp lông, móng…
                                         </div>
                                     </div>
                                 </div>
                             </li>
                         </ul>
                    </div>
                 </div>
            </div>
        </div>
        <div class="container">
            <div class="nd5">
                <div class="nd5-head">
                    <div class="nd5-title">
                        SẢN PHẨM TIÊU BIỂU <span class="primarycolor"> .</span>
                    </div>
                    <div class="nd5-nav">
                        <ul>
                            <li data-fit="All" class="nd5-active">All</li>
                            <li data-fit="chocho">Chó</li>
                            <li data-fit="chomeo">Mèo</li>
                            
                        </ul>
                    </div>
                </div> 
                <div class="galery-fitter">
                    <ul>
                        {{#each topsp}}
                        <li class="g-item {{#with Loaitong}}{{link}}{{/with}}">
                            <div class="galery-item">
                                <div class="galery-img">
                                    <a href="/sanpham/{{#with Loaitong}}{{link}}{{/with}}/{{#with Loaichinh}}{{link}}{{/with}}/{{#with Loaisanpham}}{{link}}{{/with}}/{{id}}"><img src="/img/sp/{{#with Loaitong}}{{link}}{{/with}}/{{#with Loaichinh}}{{link}}{{/with}}/{{chialaydu id}}.jpg" alt=""></a>
                                </div>
                                <div class="galery-nd">
                                    <p class="galery-cate">
                                        {{#with Loaichinh}}{{name}}{{/with}} {{#with Loaitong}}{{name}}{{/with}}
                                    </p>
                                    <a href="/sanpham/{{#with Loaitong}}{{link}}{{/with}}/{{#with Loaichinh}}{{link}}{{/with}}/{{#with Loaisanpham}}{{link}}{{/with}}/{{id}}">
                                        <p class="galery-name">
                                           {{name}} {{id}}                                
                                        </p>
                                    </a>
                                   
                                     
                                </div>
                            </div>
                            
                        </li>
                        {{/each}}
                        
                    </ul>
                </div>      
            </div>
        </div>
        <div class="nd6">
            <div class="nd6-nen"></div>
            <div class="nd6-bor">
                <div class="container">
                    <div class="nd6-nd">
                        <div class="nd6-item">
                            <div class="nd6-num">
                                <p>1000</p>
                            </div>
                            <div class="nd6-text">
                                <p>KHÁCH HÀNG</p>
                            </div>  
                        </div>
                        <div class="nd6-item">
                            <div class="nd6-num">
                                <p>1000</p>
                            </div>
                            <div class="nd6-text">
                                <p>sẢN PHẨN</p>
                            </div>  
                        </div>
                        <div class="nd6-item">
                            <div class="nd6-num">
                                <p>1000</p>
                            </div>
                            <div class="nd6-text">
                                <p>ĐỐI TÁC</p>
                            </div>  
                        </div>
                        <div class="nd6-item">
                            <div class="nd6-num">
                                <p>1000</p>
                            </div>
                            <div class="nd6-text">
                                <p>CHI NHÁNH</p>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="nd7">
            <div class="container">
                <div class="nd7-nd">
                    <div class="nd7-left">
                        <div class="trust">
                            <p>CHÚNG TÔI CAM KẾT MANG LẠI CÁC SẢN PHẨM CHẤT LƯỢNG CAO.</p>
                        </div>
                        <div class="nd7-left-item _1">
                            <div class="nd7-left-item-num">
                                01
                            </div>
                            <div class="nd7-left-item-nd">
                                <div class="nd7-left-item-title">
                                    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ex.</P>
                                </div>
                            </div>
                        </div>
                        <div class="nd7-left-item">
                            <div class="nd7-left-item-num">
                                02
                            </div>
                            <div class="nd7-left-item-nd">
                                <div class="nd7-left-item-title">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, tempore!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nd7-right">
                        <div class="nd7-right-bor">
                            <div class="nd7-title">
                                <p>HỆ THỐNG PHÂN PHỐI RỘNG KHẮP CẢ NƯỚC, BÊN BẠN MỌI NƠI</p>
                            </div>
                            <div class="nd7-right-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta praesentium inventore eveniet illum mollitia nobis facere doloribus quo corporis repellendus.</p>
                            </div>
                            <div class="nd7-right-col">
                                <div class="nd7-right-img">
                                    <img src="/img/MEO.JPG" alt="">
                                </div>
                                <div class="nd7-right-ul">
                                    <ul>
                                        <li>
                                            <p>Lorem ipsum dolor sit.  </p>
                                        </li>
                                        <li>
                                            <p>Amet consectetur adipisicing elit.</p>
                                        </li>
                                        <li>
                                            <p>Eligendi consectetur perspiciatis.</p>
                                        </li>
                                        <li>
                                            <p>Soluta inventore distinctio maiores.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
      <div class="nd9">
            <div class="container">
                <div class="nd9-nd">
                    <div class="nd8-title">
                        <h3>ĐỘI NGŨ CHUYÊN GIA.</h3>
                    </div>
                    <div class="nd9-slides">
                        {{#each nhanviens}}
                        <div class="box">

                                <div class="slide-img">
                                    <img src="{{diachi}}" alt="">
                                    <div class="slide-icon">
                                        <a href="#"><i class="fa fa-home"></i></a>
                                    <a href="#"><i class="fa fa-home"></i></a>
                                    <a href="#"><i class="fa fa-home"></i></a>
                                    <a href="#"><i class="fa fa-home"></i></a>
                                    </div>
                                    
                                </div>
                                <div class="slide-title">
                                    <a href=""><p>{{name}}</p></a>
                                    
                                    <p>{{Vitri.tenchucvu}}</p>
                                </div> 
                            
                        </div>
                        {{/each}}
                    </div>
                    <div class="nd9-slide-controls">
                        <button id="prev-btn">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <button id="next-btn">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <div class="nd9-slide-node">
                         <div class="nd9-node"></div>
                         
                        
                    </div>
                </div>
            </div>
            
        </div>
        <div class="nd10" id="para">
            
            <div class="container">
                <div class="nd10-nd" >
                    <div class="div-nd10-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="div-nd10-text">
                        ĐỪNG BÀO GIỜ BỎ LỠ NHỮNG CƠ HỘI MUA SẮM RẺ NHẤT TỪ CÁC CHƯƠNG TRÌNH KHUYẾN MÃI
                        <a href="/lienhe"><span>HÃY LIÊN HỆ NGAY ĐỂ KHÔNG BỎ LỠ.</span></a>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="nd9-2">
            <div class="container">
                <div class="nd9-nd-2">
                    
                    <div class="nd9-slides-2">
                        <div class="box-2">   
                            <img src="/img/nganhang.png" alt="">
                        </div>
                        <div class="box-2">   
                            <img src="/img/nganhang2.png" alt="">
                        </div>
                        <div class="box-2">   
                            <img src="/img/nganhang3.png" alt="">
                        </div>
                        <div class="box-2">   
                            <img src="/img/nganhang4.png" alt="">
                        </div>
                        <div class="box-2">   
                            <img src="/img/nganhang5.png" alt="">
                        </div>
                        <div class="box-2">   
                            <img src="/img/nganhang6.png" alt="">
                        </div>
                        
                        
                    
                    </div>
                    <div class="nd9-slide-controls" style="display: none">
                        <button id="prev-btn-2">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <button id="next-btn-2">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                    <div class="nd9-slide-node-2" style="display: none">
                         <div class="nd9-node-2"></div>
                         
                        
                    </div>
                </div>
            </div>
            
        </div>
        <div class="nd11">
            <div class="container">
                <div class="nd11-nd">
                    <div class="nd11-best">
                        <h3>GIẢI PHÁP VỀ NHỮNG VẤN ĐỀ CỦA THÚ CƯNG</h3>
                            <div class="nd11-tab">
                                <ul class="nd11-tab-nav">
                                    <li>
                                        <span>Lorem ipsum.  </span>
                                    </li>
                                    <li>
                                        <span>Dolor sit.</span>
                                    </li>
                                    <li>
                                        <span>Amet consectetur.</span>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="nd11-tab-content">1Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repudiandae perspiciatis itaque id, voluptatem autem ullam officia ad, perferendis nesciunt, deleniti temporibus qui 
                                        icing elit. Sapiente repudiandae perspiciatis itaque id, voluptatem autem ullmolestias expedita asperiores optio repellat delectus et?</div>
                                    <div class="nd11-tab-content">2Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repudiandae perspiciatis itaque id, voluptatem autem ullam officia ad, perferendis nesciunt, deleniti temporibus qui 
                                        icing elit. Sapiente repudiandae perspiciatis itaque id, voluptatem autem ullmolestias expedita asperiores optio repellat delectus et?</div>
                                    <div class="nd11-tab-content">3Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repudiandae perspiciatis itaque id, voluptatem autem ullam officia ad, perferendis nesciunt, deleniti temporibus qui 
                                        icing elit. Sapiente repudiandae perspiciatis itaque id, voluptatem autem ullmolestias expedita asperiores optio repellat delectus et?</div>
                                </div>
                            </div>
                    </div>
                    <div class="nd11-best-details">
                        <p>There are many variations of passages of available but the majority have suffered alteration in some form, by injected humou or randomised words which don't look even slightly believable.
                            icing elit. Sapiente repudiandae perspiciatis itaque id, voluptatem autem ull
                        </p>
                        
                        <div class="nd11-best-details-col">
                            <div class="nd11-img">
                                <img src="/img/nhachocho.jpg" alt="">
                            </div>
                            <div class="nd11-details-ul">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                    <li>Lorem ipsum dolor sit amet.</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nd12">
            <div class="container">
                <div class="nd12-nd">
                    <h3 class="nd12-title">TIN TỨC & BÀI VIẾT MỚI NHẤT.</h3>
                    <div class="nd13-col">
                        {{#each topbaiviet}}
                        <div class="nd13-col-item">
                            <div class="tintuc-tuongtu-img">
                                            <img src="/img/tintuc/{{chialaydu id}}.jpg" alt="">
                                        </div>
                            
                            <div class="nd12-wiew">
                                <ul>
                                    <li>{{ngaythang createdAt}}</li>
                                    <li>ADMIN</li>
                                    <li>{{luotxem}}</li>
                                </ul>
                            </div>
                            <div class="nd13-col-nd">
                                <div class="nd13-col-nd-title">
                                    <p>
                                        <a href="">{{name}}</a>
                                        </p>
                                </div>
                                <div class="nd13-col-nd-detail">
                                    <p>{{title}}</p>
                                </div>
                                <div class="nd13-col-nd-button">
                                    <p><a href="/tintuc/theloaitt{{Tlbaiviet.id}}/{{id}}"></a></p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="nd13">
            <div class="container">
                <div class="nd13-nd">
                    <div class="nd13-main">
                        <div class="nd1-title">
                           ĐĂNG NHẬP NGAY ĐỂ KHÔNG BỎ LÕ
MỌI TIN TỨC
                        </div>
                        <div class="nd1-but">
                            <a href="/dndk">
                                ĐĂNG NHẬP
                            </a>
                            
                        </div>
                    </div>
                    <div class="nd13-1">
                        
                    </div>
                    <div class="nd13-2">
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        {{>footer}}
    </section>
    <button id="back-to-top" title="Go to top"><i class="fa fa-arrow-up"></i></button>   
    
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/gsap.min.js"></script>
    
    
   
    <script src="/js/index.js"></script>
    <script src="/js/wait.js"></script>
    <script src="/js/index-scroll.js"></script>
    
</body>
</html>