<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sp.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/sploaichinh.css">
    <link rel="stylesheet" href="/font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Pangolin&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap"
        rel="stylesheet">
</head>
<script>
   
</script>
<body>

    <section class="container-fluid main-2">
        {{>header}}
        {{>slideBanner}}

        <section class="container-fluid">
            <div class="container">

                {{#each loaitong}}
                <div class="line-page">
                    <p>
                        <span><a href="/sanpham/{{link}}">Sản phẩm {{name}}</a></span>
                    </p>
                    
                    <p>
                        <input type="text" id='search' placeholder="Tìm kiếm sản phẩm" 
                        value="{{../searchstring}}">
                        <i class="fa fa-search"></i>
                    </p>
                    <p>
                        <select name="" id="selectsp">
                            <option value='name'>Sắp xếp theo tên</option>
                            <option value='viewDESC' selected>Sắp xếp lượt xem giảm</option>
                             <option value='viewASC'>Sắp xếp lượt xem tăng</option>
                            
                            <option value='DESC'>Giá giảm dần</option>
                            <option value='ASC'>Giá tăng dần</option>
                        </select>
                    </p>
                </div>
                {{/each}}
                <div class="sp-1">
                    <div class="sp-1-list-menu">
                        <div class="sp-1-menu">
                            {{#each loaitong}}
                            <h5>SHOP {{name}}</h5>
                            <ul>
                                {{#each Loaichinhs}}
                                
                                <li id='loaichinh{{id}}' name="menuloaitong"><a
                                        href="/sanpham/{{../link}}/{{link}}">{{name}} <i>({{Sanphams.length}})</i>
                                    </a></li>
                                
                                {{/each}}
                            </ul>
                            {{/each}}
                        </div>
                        <div class="sp-1-menu-gia">
                            <h5>Khoảng giá</h5>

                            <ul>
                                <li class='locgia' value='1000000' onclick="addParammaxmin(1000000, 0, document.location)"><a><i class="fa fa-circle-o"></i>Dưới 1
                                        triệu
                                        <i>({{khoanggia}})</i>
                                    </a></li>
                                <li class='locgia' value='3000000' onclick="addParammaxmin(3000000, 1000000, document.location)"><a><i class="fa fa-circle-o"></i>1 triệu đến 3 triệu
                                        <i>({{khoanggia2}})</i>
                                    </a></li>
                                <li class='locgia' value='5000000' onclick="addParammaxmin(5000000, 3000000, document.location)"><a><i class="fa fa-circle-o"></i>3 triệu đến 5 triệu
                                        <i>({{khoanggia3}})</i>
                                    </a></li>
                                <li class='locgia' value='7000000' onclick="addParammaxmin(7000000, 5000000, document.location)"><a><i class="fa fa-circle-o"></i>5 triệu đến 7 triệu
                                        <i>({{khoanggia4}})</i>
                                    </a></li>
                                <li class='locgia' value='9000000' onclick="addParammaxmin(9000000, 7000000, document.location)"><a><i class="fa fa-circle-o"></i>7 triệu đến 9 triệu
                                        <i>({{khoanggia5}})</i>
                                    </a></li>
                                <li class='locgia' value='10000000' onclick="addParammaxmin(10000000, 9000000, document.location)"><a><i class="fa fa-circle-o"></i>9 triệu đến 10 triệu
                                        <i>({{khoanggia6}})</i>
                                    </a></li>
                            </ul>

                        </div>
                        <div class="sp-1-thuonghieu">
                            <h5>Thương hiệu</h5>
                            <ul>
                                {{#each thuonghieu}}
                            {{#if (sosanh ../laythuonghieu id)}}
                            <li onclick="addthuonghieu('thuonghieu', {{id}}, document.location)"><a><i class="fa fa-circle"></i>{{name}}<i>({{Sanphams.length}})</i></a></li>
                            {{else}}
                            <li onclick="addthuonghieu('thuonghieu', {{id}}, document.location)"><a><i class="fa fa-circle-o"></i>{{name}}<i>({{Sanphams.length}})</i></a></li>
                            {{/if}}
                            {{/each }}
                            </ul>
                        </div>
                        <div class="sp-1-menu-tintuc">
                            <h5>Tin tức hot</h5>
                        {{#each toptintuc}}
                        <div class="sp-1-menu-tintuc-item">
                            <div class="sp-1-menu-tintuc-item-img">
                                <a href="/tintuc/theloaitt{{tlbaivietId}}/{{id}}"><img src="/img/tintuc/{{chialaydu id}}.jpg" alt=""></a>
                            </div>
                            <div class="sp-1-menu-tintuc-item-text">
                                <a href="/tintuc/theloaitt{{tlbaivietId}}/{{id}}"><p>{{name}}</p></a>
                                <p>{{title}}</p>
                            </div>
                           
                        </div>
                        {{/each}}
                        </div>
                    </div>
                    <div class="sp-1-otpmenu">
                        {{#each loaitong}}
                        <select name="" id="sp-1-otpmenu" onchange='location=this.value'>
                            <option value="/sanpham/{{link}}">Tất cả sản phẩm</option>
                            {{#each Loaichinhs}}
                            <option value='/sanpham/{{../link}}/{{link}}'>{{name}}({{Sanphams.length}})</option>

                            {{/each}}
                        </select>
                        {{/each}}
                    </div>
                   
                    <div class="sanphamchinh">
                        {{#if sanphamtheoloaichinh}}
                        {{#each sanphamtheoloaichinh}}
                        <div class="sanphamchinhitem">
                            <a href="/sanpham/{{../linkloaitong}}/{{link}}">
                                <h3>{{name}}</h3>
                            </a>
                            <div class="sanphamchinhitem-line"></div>
                            <div class="motloaisanphamchinh">

                                {{#each (each6 Sanphams)}}

                                {{>sanpham}}

                                {{/each}}

                               


                            </div>

                        </div>
                        {{/each}}
                        {{else}}
                        <div class="motsp-error">Không có sản phẩm theo yêu cầu này</div>
                        {{/if}}

                    </div>
                </div>
                
                


            </div>

        </section>


        {{>footer}}


    </section>
    <button id="back-to-top" title="Go to top"><i class="fa fa-arrow-up"></i></button>   
<script src="/js/jquery-3.5.1.min.js"></script>
    <script>
        
        function addParameterToURL(key, value, url) {
            key = encodeURI(key); value = encodeURI(value);
            var kvp = url
            
            var toanbolink=url.toString().split('?')
            
            var link=toanbolink[0]
            var i = 0;
            
            if(toanbolink[1]!=undefined){
                var kvp = toanbolink[1].toString().split('&');
                for(;i<kvp.length; i++){
                var x; 
                x = kvp[i].split('=');
                if (x[0] == key) 
                {
                    x[1] = value;
                    kvp[i] = x.join('=');
                    break;
                }
            }
            }
            else{
                var kvp=[]
            }
            
            if(i==kvp.length) {kvp[kvp.length] = [key,value].join('=');}

            urls=link+'?'+kvp.join('&')
           
            return urls
        }
        function addthuonghieu(key, value, url){
            let linkthuonghieu=addParameterToURL(key, value, url)
            
            location.href=linkthuonghieu
            
        }
        function addParammaxmin(max,min, url) {
           var link1=addParameterToURL('max', max, url);
           var link2=addParameterToURL('min', min, link1);
           
          location.href=link2

        }


        $('.line-page p:nth-child(2) i').click(function(){
            let link=addParameterToURL('search',$('#search').val(),document.location)
            location.href=link
        })

        $('#selectsp').change(function(){
                let link=addParameterToURL('sapxep',$(this).val(),document.location)
                location.href=link
        })
        $('#selectsp option').removeAttr('selected')
            $('#selectsp option').each(function(){
            if($(this).val()==='{{sapxep}}'){
                $(this).attr('selected', true)// true hoac 'selected'
            }
            })
        
       $('.locgia').each(function(){
            if($(this).attr('value')=={{laygiamax}}){
                $(this).addClass('locgia-acc')
            }
        })
            
       
        
        
        
        

        
    </script>
    
    
    <script src="/js/index.js"></script>
    <script src="/js/giohang.js"></script>
    
         

    

</body>

</html>