    
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    
</script>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sp.css">
    <link rel="stylesheet" href="/font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAolDstZXumZ3BYEE0-VCZITkPPAueYtNs&callback=chuyendoi&libraries=&v=weekly"
      async defer
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Pangolin&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
</head>
<body>
       
    <section class="container-fluid main-2">
        {{>header}}
    {{>slideBanner}}
    <section class="container-fluid">
        <div class="container">
            <div class="chonmap">
                <p>Xin chào, bạn đang ở đâu</p>
                <select name="" id="" onchange="location = this.value;">
                    <option value="/bando/cn-" >Tất cả</option>
                    {{#each vung}} 
                    {{#if (sosanh ../idvung id)}}
                    <option value="/bando/cn{{id}}-" selected>{{name}}</option>
                    {{else}}
                    <option value="/bando/cn{{id}}-" >{{name}}</option>
                    {{/if}}
                    {{/each}}
                </select>
                {{!-- <a id="chonmap-button">
                    <p>
                        Tìm kiếm
                    <i class="fa fa-search"></i>
                    </p>
                    
                </a> --}}
            </div>
            <div class="map">
                <div id="map-nd"> </div>
                <div class="map-list">
                    <div class="map-list-head">
                        <div class="map-head-icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="map-head-nd">
                            <p>Bạn đang xem tại</p>
                            {{#if idvung}}
                            <p class="class mapinner">
                                {{#each diachi}}
                                        {{#if (sosanhso ../idvung id)}}
                                            {{name}}

                                        {{/if}}
                                {{/each}}
                            </p>
                            {{else}}
                            <p class="class mapinner">
                                Tất cả chi nhánh
                            </p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="map-list-nd">
                        {{#each diachi}}
                        {{#each Chinhanhs}}
                            
                            {{#if (vung ../../idvung ../../idcn)}}
                              {{#if (sosanhso @index 0)}}
                                        <div class="map-list-item" data-lat="{{lat}}" data-long="{{long}}" id='latlong'>
                                            <h5>Chi nhánh {{name}}</h5>
                                            <p>Địa chỉ: {{diachi}}</p>
                                        </div>
                                        {{else}}
                                    <div class="map-list-item" data-lat="{{lat}}" data-long="{{long}}">
                                        <h5>Chi nhánh {{name}}</h5>
                                        <p>Địa chỉ: {{diachi}}</p>
                                    </div>
                                        
                                {{/if}}
                                
                            {{/if}}
                            {{#if ../../idcn}}
                                    {{#if (sosanhso ../../idcn id)}}
                                    
                                        <div class="map-list-item" data-lat="{{lat}}" data-long="{{long}}" id='latlong'>
                                            <h5>Chi nhánh {{name}}</h5>
                                            <p>Địa chỉ: {{diachi}}</p>
                                        </div>
                                   

                                {{else}}
                                    <div class="map-list-item" data-lat="{{lat}}" data-long="{{long}}">
                                        <h5>Chi nhánh {{name}}</h5>
                                        <p>Địa chỉ: {{diachi}}</p>
                                    </div>
                                
                                
                                {{/if}}
                            {{/if}}
                                
                        {{/each}}
                        {{/each}}
                        
                    </div>
                </div>
            </div>
            <!-- <div class="lh-dichvu">
                <div class="lh-dichvu-item">
                    <div class="lh-dichvu-item-nd">
                        <h4>Dinh dưỡng</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="">Mời đọc</a>
                    </div>
                    <div class="lh-dichvu-item-icon">
                        <i class="fa fa-home"></i>
                    </div>
                </div>
                <div class="lh-dichvu-item">
                    <div class="lh-dichvu-item-nd">
                        <h4>Dinh dưỡng</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="">Mời đọc</a>
                    </div>
                    <div class="lh-dichvu-item-icon">
                        <i class="fa fa-home"></i>
                    </div>
                </div>
                <div class="lh-dichvu-item">
                    <div class="lh-dichvu-item-nd">
                        <h4>Dinh dưỡng</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="">Mời đọc</a>
                    </div>
                    <div class="lh-dichvu-item-icon">
                        <i class="fa fa-home"></i>
                    </div>
                </div>
                <div class="lh-dichvu-item">
                    <div class="lh-dichvu-item-nd">
                        <h4>Dinh dưỡng</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="">Mời đọc</a>
                    </div>
                    <div class="lh-dichvu-item-icon">
                        <i class="fa fa-home"></i>
                    </div>
                </div>
            </div>      -->
        </div>

    </section>
        

        {{>footer}}
        
        
    </section>

    
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/gsap.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/map.js"></script>
    
    
    
</body>
</html>