    
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tuc</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sp.css">
    
    <link rel="stylesheet" href="/css/sploaichinh.css">
    <link rel="stylesheet" href="/css/tintuc.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/motsp.css">
    <link rel="stylesheet" href="/font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Pangolin&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
</head>
<body>
       
    <section class="container-fluid main-2">
        {{>header}}
    <section class="container-fluid">
        {{>slideBanner}}
        <div class="container">
            <div class="line-page">
                <p>
                    <span><a href="/">Trang chủ</a></span>
                    <span><a href="/tintuc">/Tin tức</a></span>
                    <span>/<a href="/tintuc/theloaitt{{motbaiviet.id}}">{{motbaiviet.tentheloai}}</a></span>
                     <a>
                         
                         {{#with motbaiviet}}
                        {{#each Baiviets}}
                                /<a href="/tintuc/theloaitt{{../id}}/{{id}}">{{name}} </a>
                        {{/each}}
                        {{/with}}
                    
                    </span>
                </p>
            </div>
            <div class="tintuc">
                
                <div class="tintuc-nd">
                    <div class="tintuc-nd-left">
                         <div class="file-tintuc">
                             {{#with motbaiviet}}
                        {{#each Baiviets}}
                               <h3>{{name}}</h3>
                        {{/each}}
                        {{/with}}
                            {{{motbaiviet.file}}}
                         </div>
                         <div class="tintuc-uudai">
                            <p><i class="fa fa-home"></i>Ưu đãi đặc biệt chỉ có tại cửa hàng chúng tôi</p>
                            <p><i class="fa fa-home"></i>Hoàn_xu thêm 30% tối đa 10k khi thanh toán qua Airpay</p>
                            <p><i class="fa fa-home"></i>Ưu đãi freeship khu vực nội thành khi mua online với hóa đơn có giá trị sau khi đã chiết khấu lớn hơn 200k.</p>
                            <p><i class="fa fa-home"></i>Ưu đãi freeship khu vực nội thành khi mua online với hóa đơn có giá trị sau khi đã chiết khấu lớn hơn 200k.</p>
                         </div>
                         <div class="tintuc-hethong">
                            <p><i class="fa fa-home"></i>Hệ thống cửa hàng của Petcity trên toàn quốc:</p>
                            <p><i class="fa fa-home"></i>Hotline: 098 761 2727</p>
                            <p><i class="fa fa-home"></i>Cơ sở 1: 10 Hàm Long, Q.Hoàn Kiếm, Hà Nội</p>
                        </div>
                        <div class="tintuc-tuongtu">
                            <div class="tintuc-tuongtu-h4">
                                <h4>Bài viết liên quan</h4>
                            </div>
                            
                            <div class="tintuc-tuongtu-list">
                                <div class="tintuc-tuongtu-item-nd">
                                    {{#each tinlienquan}}
                                    <div class="tintuc-tuongtu-item">
                                        <a href="/tintuc/theloaitt{{tlbaivietId}}/{{id}}"><div class="tintuc-tuongtu-img">
                                            <img src="/img/tintuc/{{chialaydu id}}.jpg" alt="">
                                        </div>
                                        
                                        <p>{{name}}</p></a>   
                                    </div>
                                    {{/each}}
                                    
                                </div>
                                
                            </div>
                            <a href="/tintuc" class="tintuc-xemthem">Xem thêm <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="tintuc-nd-right">
                        <h5>Sản phẩm được quan tâm nhiều nhất</h5>
                       <div class="motloaisanphamchinh">
                            {{#each luotxemcaonhat}}     
                                {{>sanpham}}
                             
                            
                            {{/each}}
                            </div>
                    </div>
                      
                </div>
                
            </div>
        </div>
    </section>
   
        

        {{>footer}}
        
        
    </section>

    
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/gsap.min.js"></script>
    
    <script src="/js/giohang.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>