    
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sp.css">
    
    <link rel="stylesheet" href="/css/sploaichinh.css">
    <link rel="stylesheet" href="/css/tintuc.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/motsp.css">
    <link rel="stylesheet" href="/font/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Pangolin&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
</head>
<body>
       
    <section class="container-fluid main-2">
        {{>header}}
    <section class="container-fluid">
        {{>slideBanner}}
        <div class="container">
            <div class="line-page">
                <p>
                    <span><a href="/">Trang chủ</a></span>
                    <span><a href="/tintuc">/Tin tức</a></span>
                    <span><a href="/tintuc/theloaitt{{mottheloai.id}}">/{{mottheloai.tentheloai}}</a></span>
                </p>
            </div>
            <div class="tintuc">
                
                <div class="tintuc-nd">
                    <div class="tintuc-nd-left">
                        <div class="tintuc-noibat">
                            <h4>Tin nổi bật</h4>
                            <div class="tintuc-noibat-nd">
                                {{#each toptintuc}}
                                {{#if (sosanh @index 0)}}
                                <div class="tintuc-noibat-left">
                                    <a href="/tintuc/theloaitt{{tlbaivietId}}/{{id}}"><img src="/img/tintuc/{{chialaydu id}}.jpg" alt=""></a>
                                </div>                          
                                <div class="tintuc-noibat-right">
                                    {{else}}
                                    <div class="tintuc-noibat-right-item">
                                        <div class="noibat-item-img">
                                            <a href="/tintuc/theloaitt{{tlbaivietId}}/{{id}}"><img src="/img/tintuc/{{chialaydu id}}.jpg" alt=""></a>
                                        </div>  
                                        <div class="noibat-item-text">
                                            <a href="/tintuc/theloaitt{{tlbaivietId}}/{{id}}">{{name}}</a>
                                            
                                        </div>  
                                    </div>
                                    {{/if}}
                                    {{/each}}
                                </div>  
                                
                            </div>                     
                        </div>
                        <div class="mottintuc">
                            
                            {{#with mottheloai}}
                            {{#each Baiviets}}
                            <div class="mottt-nd">
                                <div class="mottt-item">
                                    <div class="mottt-img">
                                        <a href="/tintuc/theloaitt{{../id}}/{{id}}"><img src="/img/tintuc/{{chialaydu id}}.jpg" alt=""></a>
                                    </div>
                                    <div class="mottt-text">
                                        <a href="/tintuc/theloaitt{{../id}}/{{id}}"><h5>{{name}}</h5></a>
                                        <p>Ngày đăng: {{ngaythang createdAt}}</p>
                                        
                                        <p>
                                            <span><i class="fa fa-eye"></i>
                                            
                                            
                                            </span>
                                            <span>Lượt xem: {{luotxem}}</span><br>
                                            
                                        </p>
                                        <p>{{title}}</p>
                                    </div>
                                </div>
                                
                            </div>
                            {{/each}}
                            {{/with}}
                            
                        </div>
                    </div>
                    <div class="tintuc-nd-right">
                        <h5>Sản phẩm được quan tâm nhiều nhất</h5>
                        <div class="motloaisanphamchinh">
                            {{#each luotxemcaonhat}}
                             
                                  {{>sanpham}}
                             
                            
                            {{/each}}
                            </div>
                    </div>
                      
                </div>
            </div>
        </div>
    </section>
       {{>footer}}
        
        
    </section>

    
    <script src="/js/jquery-3.5.1.min.js"></script>
    
    <script src="/js/giohang.js"></script>
    <script src="/js/index.js"></>
</body>
</html>